
/****** Elements ******/
body {
  font-family: 'Anonymous Pro', monospace;
  background: white;
  color: black;
  text-align: center;
}

h1 {
  font-size: 120px;
}

h2 {
  font-size: 80px;
}

p {
  font-size: 18px;
}

/****** Halves ******/
.section-div {
  height: 85%;
  max-width: 85%;
  min-height: 510px;
  /* max-height: 85%; */
}

.horizontal-half {
  height: 50%;
}

.vertical-halves {
  height: 100%;
}

.blue-div {
  background: #7FA3D6;
  margin: 0 auto;
}

.light-div {
  background: rgb(248,248,248);
  margin: 0 auto;
}

.top-half {
  border-radius: 20px 20px 0px 0px;
}

.bottom-half {
  border-radius: 0px 0px 20px 20px;
}

.left-half {
  border-radius: 20px 0px 0px 20px;
}

.right-half {
  border-radius: 0px 20px 20px 0px;
}

div.top-half div#hello {
	position: absolute;
	bottom: 0px;
	right: 0;
  left: 0;
  text-align: center;
}

.left-half .right-half {
  height: 100%;
}

/****** Thirds ******/

/****** Banner ******/
#menu {
  position: fixed;
  display: block;
  width: 100%;
  height: 7%;
  z-index: 9;
  text-align: center;
}

#menu a {
  color: black;
  font-size: 2.5vh;
}

#my-logo {
  height: 3.5vh;
  transform: translate(0%,-15%);
}

#nav-container {
  transform: translate(-1%, 50%);
}

/****** Alignment ******/
.align-items-center {
  -ms-flex-align: center!important;
  align-items: center!important;
}

.d-flex {
  display: -ms-flexbox!important;
  display: flex!important;
}

.justify {
  text-align: justify;
}

.center {
  margin: 0 auto;
}

.info {
  max-width: 291px;
  text-align: justify;
}

/****** Unordered list ******/
ul.traits {
  list-style-type: none;
  padding-left: 0;
  font-size: 28px;
}

li.se {
  color: #E77368;
}

li.ds {
  color: #7DCAA7;
}

li.des {
  color: #FBCC42;
}

li.cre {
  color: #7FA3D6;
}

/****** fullPage css ******/
.fp-scroller {
    overflow:hidden;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: #E77368;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    box-sizing: border-box;
    background-color: #E77368;
}

.fp-controlArrow {
  transform: scale(0.6);
}
.fp-controlArrow.fp-prev {
  transform: translateX(100px);
}
.fp-controlArrow.fp-next {
  transform: translateX(-100px);
}
